@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.logo {
  width: 50px;
  height: 50px;
}


.content-container{
  background: url('https://images.unsplash.com/photo-1526488807855-309186804587?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* border: 5px solid rgb(255, 253, 253); */
  min-height: 95vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.nav-container {
  /* border: 1px solid black; */
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  /* position: fixed; */
}

.carousel-container {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  gap: 3rem;
}



.search-container {
  /* border: 1px solid red; */
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  /* gap: 1rem; */
  /* background-color: white; */
}
.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  padding-bottom: 5rem;
}

.form-container {
  display: flex;
  width: 75%;
  /* border: 1px solid red; */
  
}

.cards-container{
  /* bordeR: 1px solid white; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 75%;
  margin-top: 2rem;
}

button {
  width: 100%;
}
.cards-container div{
  /* bordeR: 1px solid white; */
  border-radius: 10px;
  padding: 0.5rem;
  width: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  gap: 0.2rem;
}

.cards-container div:hover{
  background-color: #0D6EFD;
}

.cards-container img{
  width: 75px;
}

/* about container */
.about-container {
  background: url('https://images.unsplash.com/photo-1526488807855-309186804587?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: center;
  min-height: 95vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.faq-container {
  width: 75%;
}


.faq-title {
  color: white;
}

.listing-container{ 
  background: url('https://images.unsplash.com/photo-1526488807855-309186804587?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: center;
  min-height: 95vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.featured-container{
  width: 50%;
  border: 1px solid white;
}

.explore-container{
  width: 50%;
  border: 1px solid white;
  height: 50%;
}

/*  */

@media (max-width: 765px){

  .form-container {
    display: flex;
    flex-direction: column;
    /* width: */
  }

  .cards-container{
    display: flex;
    /* flex-wrap: nowrap; */
    margin-top: 2rem;
  }

  .cards-container div{
    width: 45%;
    min-height: 30%;
    font-size: 0.8rem;
  }



  .cards-container img{
    width: 50px;
  }

  .cards-container h4{
    font-size: 1rem;
  }
}


@media (max-width: 425px){
  .cards-container{
    display: flex;
    /* flex-wrap: nowrap; */
    margin-top: 2rem;
  }

  .cards-container div{
    width: 40%;
    min-height: 30%;
    font-size: 0.8rem;
  }

  .cards-container img{
    width: 30px;
  }

  .cards-container h4{
    font-size: 1rem;
  }
}